<!-- ============================= -->
<!-- Home page html.erb file  -->
<!-- ============================= -->

<!-- COMMENTING OUT MULTIPLE LINES -->
<!-- REMOVING ABOVE THE FOLD SLIDER -->
 <% if false %>

    <!--  ==========  -->
    <!--  = Slider Revolution =  -->
    <!--  ==========  -->
    <div class="fullwidthbanner-container">
        <div class="fullwidthbanner">
            <ul>
                <li data-transition="premium-random" data-slotamount="3">
                    <img src="images/levain-bakery_s-chocolate-chip-copycat-cookies-urban-bakes-3.png" alt="slider img" width="1400" height="377" />

                    <!-- texts -->
                    <div class="caption lfl big_theme"
                        data-x="120"
                        data-y="120"
                        data-speed="1000"
                        data-start="500"
                        data-easing="easeInOutBack">
                        Sweetist
                    </div>

                    <div class="caption lfl small_theme"
                        data-x="120"
                        data-y="190"
                        data-speed="1000"
                        data-start="700"
                        data-easing="easeInOutBack">
                        You're one-stop shop for discovering the latest in baked goods!
                    </div>

                </li><!-- /slide -->

                <li data-transition="premium-random" data-slotamount="3">
                    <img src="images/Multi-coloured_macarons,_September_2010.jpg" alt="slider img" width="1400" height="377" />
                
                    <!-- texts -->
                    <div class="caption lfl big_theme"
                        data-x="120"
                        data-y="120"
                        data-speed="1000"
                        data-start="500"
                        data-easing="easeInOutBack">
                        Discover all the latest shops and sweets through our blog!
                    </div>

                    <div class="caption lfl small_theme"
                        data-x="120"
                        data-y="190"
                        data-speed="1000"
                        data-start="700"
                        data-easing="easeInOutBack">
                        Written by renowned food bloggers
                    </div>

                </li><!-- /slide -->

                <li data-transition="premium-random" data-slotamount="3">
                    <img src="images/millfrepe.JPG" alt="slider img" width="1400" height="377" />

                    <!-- texts -->
                    <div class="caption lfl big_theme"
                        data-x="120"
                        data-y="120"
                        data-speed="1000"
                        data-start="500"
                        data-easing="easeInOutBack">
                        So many stores to discover
                    </div>

                    <div class="caption lfl small_theme"
                        data-x="120"
                        data-y="190"
                        data-speed="1000"
                        data-start="700"
                        data-easing="easeInOutBack">
                        We have the hook up on boutique bakeries and patisseries!
                    </div>

                </li><!-- /slide -->

                <li data-transition="premium-random" data-slotamount="3">
                    <img src="images/Baked-goods-e1288379066214.jpg" alt="slider img" width="1400" height="377" />

                    <!-- texts -->
                    <div class="caption lfl big_theme"
                        data-x="120"
                        data-y="140"
                        data-speed="1000"
                        data-start="500"
                        data-easing="easeInOutBack">
                        So many choices and easy to order!
                    </div>

                    <div class="caption lfl small_theme"
                        data-x="120"
                        data-y="210"
                        data-speed="1000"
                        data-start="700"
                        data-easing="easeInOutBack">
                        Free shipping on orders over $35!
                    </div>

                </li><!-- /slide -->
            </ul>
            <div class="tp-bannertimer"></div>
        </div>
        <!--  ==========  -->
        <!--  = Nav Arrows =  -->
        <!--  ==========  -->
        <div id="sliderRevLeft"><i class="icon-chevron-left"></i></div>
        <div id="sliderRevRight"><i class="icon-chevron-right"></i></div>
    </div> <!-- /slider revolution -->

<!-- FINISHED REMOVING ABOVE THE FOLD SLIDER -->
<% end %>

    <!--  ==========  -->
    <!--  = Main container =  -->
    <!--  ==========  -->
		<div class="container">


<!-- REMOVING THREE BANNER/SPECIAL PROMOTION AREA -->
<% if false %>

        <div class="row">
            <div class="span12">
                <div class="push-up over-slider blocks-spacer">

                    <!--  ==========  -->
                    <!--  = Three Banners =  -->
                    <!--  ==========  -->
                    <div class="row">
                        <div class="span4">
                            <a href="#" class="btn btn-block banner">
                                <span class="title"><span class="light">SUMMER</span> SALE</span>
                                <em>up to 60% off on all shoes</em>
                            </a>
                        </div>
                        <div class="span4">
                            <a href="#" class="btn btn-block colored banner">
                                <span class="title"><span class="light">FREE</span> SHIPPING</span>
                                <em>on orders over $35</em>
                            </a>
                        </div>
                        <div class="span4">
                            <a href="#" class="btn btn-block banner">
                                <span class="title"><span class="light">NEW</span> PRODUCTS</span>
                                <em>for running on lorem ipsum dolor</em>
                            </a>
                        </div>
                    </div> <!-- /three banners -->
                </div>
            </div>
        </div>

<!-- FINISHED REMOVING THREE BANNER/SPECIAL PROMOTION AREA -->
<% end %>

    <!--  ==========  -->
    <!--  = Most Popular products =  -->
    <!--  ==========  -->
    <div class="most-popular blocks-spacer">
      <div class="container">

				<!--  ==========  -->
	 			<!--  = Title =  -->
				<!--  ==========  -->
				<div class="row">
					<div class="span12">
                <div class="main-titles lined">
                      <h2 class="title"><span class="light">Most</span> Popular Products</h2>
                  </div>
            </div>
					</div> <!-- /title -->

	 				<div class="row popup-products">

                <!--  ==========  -->
                <!--  = Product =  -->
								<!--  ==========  -->

                <!--  = Looping through all products  =  -->
                <!--  = Need to add code for moving every 3 add'l products to a new row  =  -->
                <!--  = Also need to limit products shown on one page... maybe just top 12 for now  =  -->
                <!--  = Or can do a facebook loading ability where scroll to bottom brings up more products =  -->
 
								<% @product = Product.all %>
                <% @product.each do |product| %>

									<!--              <div class="span3">		-->
              <div class="span4">
                    <div class="product">
                     <div class="product-inner">

                          <div class="product-img">
                                <div class="picture">
                                    <a href="product/<%=product.id%>"><img src="images/<%= product.photo %>" alt="" width="540" height="374" /></a>
                                    <div class="img-overlay">
                                        <a href="product/<%=product.id%>" class="btn more btn-primary">More</a>
                                        <a href="#" class="btn buy btn-danger">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="main-titles no-margin">

                                <% vendor = Vendor.find(product.vendor_id) %>

                                <a href="vendor/<%= vendor.id %>"><h4 class="product_vendor"><%= vendor.name %></a>
                                <h5 class="product_name no-margin"><%= product.name %></h5>
                                <h4 class="title">$<%= product.price %></h4>
                            </div>
                            <p class="desc"><%= product.description %></p>

                            <div class="row-fluid hidden-line">
                                <div class="span6">
                                    <a href="#" class="btn btn-small"><i class="icon-heart"></i></a>
                                    <a href="#" class="btn btn-small"><i class="icon-exchange"></i></a>
                                </div>
                                <div class="span6 align-right">
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star stars-clr"></span>
                                </div>
                            </div>
			 										</div>
												</div>

											</div> <!-- /product -->
										<% end %>
									</div>  <!-- row popup spacer -->
								</div>
							</div>
  		</div>
    </div> <!-- /most popular -->

    <!--  ==========  -->
    <!--  = Brands Carousel =  -->
    <!--  ==========  -->
  <div class="container blocks-spacer-last">

    <!--  ==========  -->
    <!--  = Title =  -->
    <!--  ==========  -->
    <div class="row">
        <div class="span12">
          <div class="main-titles lined">
                  <h2 class="title"><span class="light">Our</span> Brands</h2>
                    <div class="arrows">
                        <a href="#" class="icon-chevron-left" id="brandsLeft"></a>
                        <a href="#" class="icon-chevron-right" id="brandsRight"></a>
                    </div>
              </div>
        </div>
    </div> <!-- /title -->

    <!--  ==========  -->
    <!--  = Logos =  -->
    <!--  ==========  -->
    <div class="row">
        <div class="span12">
          <div class="brands carouFredSel" data-nav="brands" data-autoplay="true">
						<img src="images/levain_logo.gif" alt="" width="203" height="104" />
						<img src="images/ladym_logo.jpg" alt="" width="203" height="104" />
					</div>
        </div>
    </div> <!-- /logos -->
  </div> <!-- /brands carousel -->
