

    <body class="">

    <!--  ==========  -->
    <!--  = Slider Revolution =  -->
    <!--  ==========  -->
    <div class="fullwidthbanner-container">
        <div class="fullwidthbanner">
            <ul>
                <li data-transition="premium-random" data-slotamount="3">
                    <img src="images/levain-bakery_s-chocolate-chip-copycat-cookies-urban-bakes-3.png" alt="slider img" width="1400" height="377" />

                    <!-- baloons -->
                    <!-- <div class="caption lft ltt"
                        data-x="570"
                        data-y="50"
                        data-speed="4000"
                        data-start="1000"
                        data-easing="easeOutElastic">
                        <img src="images/dummy/slides/1/baloon1.png" alt="baloon" width="135" height="186" />
                    </div>

                    <div class="caption lft ltt"
                        data-x="770"
                        data-y="60"
                        data-speed="4000"
                        data-start="1200"
                        data-easing="easeOutElastic">
                        <img src="images/dummy/slides/1/baloon3.png" alt="baloon" width="40" height="55" />
                    </div>

                    <div class="caption lft ltt"
                        data-x="870"
                        data-y="80"
                        data-speed="4000"
                        data-start="1500"
                        data-easing="easeOutElastic">
                        <img src="images/dummy/slides/1/baloon2.png" alt="baloon" width="60" height="83" />
                    </div> -->

                    <!-- texts -->
                    <div class="caption lfl big_theme"
                        data-x="120"
                        data-y="120"
                        data-speed="1000"
                        data-start="500"
                        data-easing="easeInOutBack">
                        Sweetist
                    </div>

                    <div class="caption lfl small_theme"
                        data-x="120"
                        data-y="190"
                        data-speed="1000"
                        data-start="700"
                        data-easing="easeInOutBack">
                        You're one-stop shop for discovering the latest in baked goods!
                    </div>

                   <!--  <a href="features.html" class="caption lfl btn btn-primary btn_theme"
                        data-x="120"
                        data-y="260"
                        data-speed="1000"
                        data-start="900"
                        data-easing="easeInOutBack">
                        ALL THEME FEATURES
                    </a> -->
                </li><!-- /slide -->

                <li data-transition="premium-random" data-slotamount="3">
                    <img src="images/Multi-coloured_macarons,_September_2010.jpg" alt="slider img" width="1400" height="377" />

                    <!-- woman -->
                    <!-- <div class="caption lfb ltb"
                        data-x="800"
                        data-y="50"
                        data-speed="1000"
                        data-start="1000"
                        data-easing="easeInOutCubic">
                        <img src="images/dummy/slides/2/woman.png" alt="woman" width="361" height="374" />
                    </div> -->

                    <!-- plane -->
                    <!-- <div class="caption lfl str"
                        data-x="400"
                        data-y="20"
                        data-speed="10000"
                        data-start="1000"
                        data-easing="linear">
                        <img src="images/dummy/slides/2/plane.png" alt="aircraft" width="117" height="28" />
                    </div> -->

                    <!-- texts -->
                    <div class="caption lfl big_theme"
                        data-x="120"
                        data-y="120"
                        data-speed="1000"
                        data-start="500"
                        data-easing="easeInOutBack">
                        Discover all the latest shops and sweets through our blog!
                    </div>

                    <div class="caption lfl small_theme"
                        data-x="120"
                        data-y="190"
                        data-speed="1000"
                        data-start="700"
                        data-easing="easeInOutBack">
                        Written by renowned food bloggers
                    </div>

                   <!--  <a href="features.html" class="caption lfl btn btn-primary btn_theme"
                        data-x="120"
                        data-y="260"
                        data-speed="1000"
                        data-start="900"
                        data-easing="easeInOutBack">
                        AND MANY MORE ...
                    </a> -->
                </li><!-- /slide -->

                <li data-transition="premium-random" data-slotamount="3">
                    <img src="images/millfrepe.JPG" alt="slider img" width="1400" height="377" />

                    <!-- phone -->
                <!--     <div class="caption sfr fadeout"
                        data-x="950"
                        data-y="77"
                        data-speed="1000"
                        data-start="2500"
                        data-easing="easeInOutCubic">
                        <img src="images/dummy/slides/3/phone.png" alt="phone in a hand" width="495" height="377" />
                    </div> -->

                    <!-- texts -->
                    <div class="caption lfl big_theme"
                        data-x="120"
                        data-y="120"
                        data-speed="1000"
                        data-start="500"
                        data-easing="easeInOutBack">
                        So many stores to discover
                    </div>

                    <div class="caption lfl small_theme"
                        data-x="120"
                        data-y="190"
                        data-speed="1000"
                        data-start="700"
                        data-easing="easeInOutBack">
                        We have the hook up on boutique bakeries and patisseries!
                    </div>

                    <!-- <a href="icons.html" class="caption lfl btn btn-primary btn_theme"
                        data-x="120"
                        data-y="260"
                        data-speed="1000"
                        data-start="900"
                        data-easing="easeInOutBack">
                        And also all the icons are retina-ready...
                    </a> -->
                </li><!-- /slide -->

                <li data-transition="premium-random" data-slotamount="3">
                    <img src="images/Baked-goods-e1288379066214.jpg" alt="slider img" width="1400" height="377" />

                    <!-- faces -->
                    <!-- <div class="caption lft ltt"
                        data-x="-150"
                        data-y="0"
                        data-speed="300"
                        data-start="2000"
                        data-easing="easeInOutCubic">
                        <img src="images/dummy/slides/4/person1.png" alt="satisfied customer" width="108" height="204" />
                    </div>
                    <div class="caption lft ltt"
                        data-x="0"
                        data-y="0"
                        data-speed="300"
                        data-start="2200"
                        data-easing="easeInOutCubic">
                        <img src="images/dummy/slides/4/person2.png" alt="satisfied customer" width="108" height="321" />
                    </div>
                    <div class="caption lft ltt"
                        data-x="500"
                        data-y="0"
                        data-speed="300"
                        data-start="2400"
                        data-easing="easeInOutCubic">
                        <img src="images/dummy/slides/4/person3.png" alt="satisfied customer" width="108" height="139" />
                    </div>
                    <div class="caption lft ltt"
                        data-x="720"
                        data-y="0"
                        data-speed="300"
                        data-start="2600"
                        data-easing="easeInOutCubic">
                        <img src="images/dummy/slides/4/person4.png" alt="satisfied customer" width="108" height="191" />
                    </div>
                    <div class="caption lft ltt"
                        data-x="940"
                        data-y="0"
                        data-speed="300"
                        data-start="2800"
                        data-easing="easeInOutCubic">
                        <img src="images/dummy/slides/4/person5.png" alt="satisfied customer" width="108" height="139" />
                    </div>
                    <div class="caption lft ltt"
                        data-x="1200"
                        data-y="0"
                        data-speed="300"
                        data-start="3000"
                        data-easing="easeInOutCubic">
                        <img src="images/dummy/slides/4/person6.png" alt="satisfied customer" width="108" height="179" />
                    </div>
                    <div class="caption lft ltt"
                        data-x="1350"
                        data-y="0"
                        data-speed="300"
                        data-start="3200"
                        data-easing="easeInOutCubic">
                        <img src="images/dummy/slides/4/person7.png" alt="satisfied customer" width="108" height="133" />
                    </div> -->

                    <!-- texts -->
                    <div class="caption lfl big_theme"
                        data-x="120"
                        data-y="140"
                        data-speed="1000"
                        data-start="500"
                        data-easing="easeInOutBack">
                        So many choices and easy to order!
                    </div>

                    <div class="caption lfl small_theme"
                        data-x="120"
                        data-y="210"
                        data-speed="1000"
                        data-start="700"
                        data-easing="easeInOutBack">
                        Free shipping on orders over $35!
                    </div>

                   <!--  <a href="http://proteusthemes.ticksy.com/" class="caption lfl btn btn-primary btn_theme"
                        data-x="120"
                        data-y="280"
                        data-speed="1000"
                        data-start="900"
                        data-easing="easeInOutBack">
                        We provide support on Ticksy
                    </a> -->
                </li><!-- /slide -->
            </ul>
            <div class="tp-bannertimer"></div>
        </div>
        <!--  ==========  -->
        <!--  = Nav Arrows =  -->
        <!--  ==========  -->
        <div id="sliderRevLeft"><i class="icon-chevron-left"></i></div>
        <div id="sliderRevRight"><i class="icon-chevron-right"></i></div>
    </div> <!-- /slider revolution -->

    <!--  ==========  -->
    <!--  = Main container =  -->
    <!--  ==========  -->
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="push-up over-slider blocks-spacer">

                    <!--  ==========  -->
                    <!--  = Three Banners =  -->
                    <!--  ==========  -->
                    <div class="row">
                        <div class="span4">
                            <a href="#" class="btn btn-block banner">
                                <span class="title"><span class="light">SUMMER</span> SALE</span>
                                <em>up to 60% off on all shoes</em>
                            </a>
                        </div>
                        <div class="span4">
                            <a href="#" class="btn btn-block colored banner">
                                <span class="title"><span class="light">FREE</span> SHIPPING</span>
                                <em>on orders over $35</em>
                            </a>
                        </div>
                        <div class="span4">
                            <a href="#" class="btn btn-block banner">
                                <span class="title"><span class="light">NEW</span> PRODUCTS</span>
                                <em>for running on lorem ipsum dolor</em>
                            </a>
                        </div>
                    </div> <!-- /three banners -->
                </div>
            </div>
        </div>

        <!--  ==========  -->
        <!--  = Featured Items =  -->
        <!--  ==========  -->
        <div class="row featured-items blocks-spacer">
            <div class="span12">

                <!--  ==========  -->
                <!--  = Title =  -->
                <!--  ==========  -->
              <div class="main-titles lined">
                  <h2 class="title"><span class="light">Featured</span> Products</h2>
                  <div class="arrows">
                        <a href="#" class="icon-chevron-left" id="featuredItemsLeft"></a>
                        <a href="#" class="icon-chevron-right" id="featuredItemsRight"></a>
                    </div>
              </div>
            </div>

            <div class="span12">
                <!--  ==========  -->
                <!--  = Carousel =  -->
                <!--  ==========  -->
                <div class="carouFredSel" data-autoplay="false" data-nav="featuredItems">
                    <div class="slide">
                        <div class="row">


                    <!--  ==========  -->
              <!--  = Product =  -->
              <!--  ==========  -->
                    <div class="span4">
                        <div class="product">
                            <div class="product-img featured">
                                <div class="picture">
                                  <a href="product.html"><img src="images/GTC-Food-378-1536x1024.jpg" alt="" width="518" height="358" /></a>
                                <div class="img-overlay">
                                    <a href="product.html" class="btn more btn-primary">More</a>
                                    <a href="#" class="btn buy btn-danger">Buy</a>
                                </div>
                                </div>
                            </div>
                            <div class="main-titles">
                                <h4 class="title">$64.43</h4>
                                <h5 class="no-margin"><a href="product.html">80 billion macarons</a></h5>
                            </div>
                            <p class="desc">truckload of these little tiny cute cookies that you will regret having previously imagined to be light as an angel's fart, as it crushes your lungs under deliciousness.</p>
                        </div>
                        </div> <!-- /product -->


                    <!--  ==========  -->
              <!--  = Product =  -->
              <!--  ==========  -->
                    <div class="span4">
                        <div class="product">
                            <div class="product-img featured">
                                <div class="picture">
                                  <a href="product.html"><img src="images/top-bg.jpg" alt="" width="518" height="358" /></a>
                                <div class="img-overlay">
                                    <a href="product.html" class="btn more btn-primary">More</a>
                                    <a href="#" class="btn buy btn-danger">Buy</a>
                                </div>
                                </div>
                            </div>
                            <div class="main-titles no-margin">
                                <h4 class="title">$10000.00</h4>
                                <h5 class="no-margin">seafood surprise cake - happy bday!</h5>
                            </div>
                            <p class="desc">this is a cake made to look like a loaf of grilled fish with sauces and veggies and calamari legs.  i promise its not really seafood.  actually its seafood dude.</p>
                        </div>
                        </div> <!-- /product -->


                    <!--  ==========  -->
              <!--  = Product =  -->
              <!--  ==========  -->
                    <div class="span4">
                        <div class="product">
                            <div class="product-img featured">
                                <div class="picture">
                                  <a href="product.html"><img src="images/DSC_3173.JPG" alt="" width="518" height="358" /></a>
                                <div class="img-overlay">
                                    <a href="product.html" class="btn more btn-primary">More</a>
                                    <a href="#" class="btn buy btn-danger">Buy</a>
                                </div>
                                </div>
                            </div>
                           <div class="main-titles no-margin">
                                <h4 class="title">$238.29</h4>
                                <h5 class="no-margin">mille crepe</h5>
                            </div>
                            <p class="desc">layer upon layer of crepe floating upon fresh whipped cream from happy cows that are massaged by 108 chinese virgins and fed an intoxicating mixture of sake and ambrosia from the gods.</p>
                        </div>
                        </div> <!-- /product -->

                                            </div>
                  </div>
                  <div class="slide">
                      <div class="row">

                    <!--  ==========  -->
              <!--  = Product =  -->
              <!--  ==========  -->
                    <div class="span4">
                        <div class="product">
                            <div class="product-img featured">
                                <div class="picture">
                                  <a href="product.html"><img src="images/dummy/featured-products/featured-1.png" alt="" width="518" height="358" /></a>
                                <div class="img-overlay">
                                    <a href="product.html" class="btn more btn-primary">More</a>
                                    <a href="#" class="btn buy btn-danger">Buy</a>
                                </div>
                                </div>
                            </div>
                            <div class="main-titles">
                                <h4 class="title">$76</h4>
                                <h5 class="no-margin"><a href="product.html">Horsefeathers 753</a></h5>
                            </div>
                            <p class="desc">59% Cotton Lorem Ipsum Dolor Sit Amet esed ultrices sapien nunc nam frignila</p>
                        </div>
                        </div> <!-- /product -->


                    <!--  ==========  -->
              <!--  = Product =  -->
              <!--  ==========  -->
                    <div class="span4">
                        <div class="product">
                            <div class="product-img featured">
                                <div class="picture">
                                  <a href="product.html"><img src="images/GTC-Food-378-1536x1024.jpg" alt="" width="518" height="358" /></a>
                                <div class="img-overlay">
                                    <a href="product.html" class="btn more btn-primary">More</a>
                                    <a href="#" class="btn buy btn-danger">Buy</a>
                                </div>
                                </div>
                            </div>
                            <div class="main-titles">
                                <h4 class="title">$64.43</h4>
                                <h5 class="no-margin"><a href="product.html">80 billion macarons</a></h5>
                            </div>
                            <p class="desc">truckload of these little tiny cute cookies that you will regret having previously imagined to be light as an angel's fart, as it crushes your lungs under deliciousness.</p>
                        </div>
                        </div> <!-- /product -->


                    <!--  ==========  -->
              <!--  = Product =  -->
              <!--  ==========  -->
                    <div class="span4">
                        <div class="product">
                            <div class="product-img featured">
                                <div class="picture">
                                  <a href="product.html"><img src="images/dummy/featured-products/featured-3.png" alt="" width="518" height="358" /></a>
                                <div class="img-overlay">
                                    <a href="product.html" class="btn more btn-primary">More</a>
                                    <a href="#" class="btn buy btn-danger">Buy</a>
                                </div>
                                </div>
                            </div>
                            <div class="main-titles">
                                <h4 class="title">$99</h4>
                                <h5 class="no-margin"><a href="product.html">Horsefeathers 418</a></h5>
                            </div>
                            <p class="desc">59% Cotton Lorem Ipsum Dolor Sit Amet esed ultrices sapien nunc nam frignila</p>
                        </div>
                        </div> <!-- /product -->
                                        </div>
                  </div>
                </div> <!-- /carousel -->
            </div>

        </div>
    </div> <!-- /container -->

    <!--  ==========  -->
    <!--  = New Products =  -->
    <!--  ==========  -->
    <div class="boxed-area blocks-spacer">
        <div class="container">

            <!--  ==========  -->
            <!--  = Title =  -->
            <!--  ==========  -->
            <div class="row">
                <div class="span12">
                    <div class="main-titles lined">
                      <h2 class="title"><span class="light">Sweetist</span> Products in the Shop</h2>
                    </div>
                </div>
            </div> <!-- /title -->

            <div class="row popup-products blocks-spacer">



                                                <!--  ==========  -->
                <!--  = Product =  -->
                <!--  ==========  -->
                <% @product = Product.all %>
                <% @product.each do |product| %>

              <div class="span3">
                    <div class="product">
                     <div class="product-inner">


                          <div class="product-img">
                                <div class="picture">
                                    <a href="product/<%=product.id%>"><img src="images/<%= product.photo %>" alt="" width="540" height="374" /></a>
                                    <div class="img-overlay">
                                        <a href="product/<%=product.id%>" class="btn more btn-primary">More</a>
                                        <a href="#" class="btn buy btn-danger">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="main-titles no-margin">

                                <% vendor = Vendor.find(product.vendor_id) %>


                                <a href="vendor/<%= vendor.id %>"><h4 class="product_vendor"><%= vendor.name %></a>
                                <h5 class="product_name no-margin"><%= product.name %></h5>
                                <h4 class="title">$<%= product.price %></h4>
                            </div>
                            <p class="desc"><%= product.description %></p>


                            <div class="row-fluid hidden-line">
                                <div class="span6">
                                    <a href="#" class="btn btn-small"><i class="icon-heart"></i></a>
                                    <a href="#" class="btn btn-small"><i class="icon-exchange"></i></a>
                                </div>
                                <div class="span6 align-right">
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star stars-clr"></span>
                                </div>
                            </div>
                    </div>
                  </div>


              </div> <!-- /product -->

                <% end %>
                                                            <!--  ==========  -->


                <!--  = Product =  -->
                <!--  ==========  -->
            <!--   <div class="span3">
                    <div class="product">
                     <div class="product-inner">
                          <div class="product-img">
                                <div class="picture">
                                    <a href="product.html"><img src="images/dummy/products/product-7.jpg" alt="" width="540" height="374" /></a>
                                    <div class="img-overlay">
                                        <a href="product.html" class="btn more btn-primary">More</a>
                                        <a href="#" class="btn buy btn-danger">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="main-titles no-margin">
                                <h4 class="title">$32</h4>
                                <h5 class="no-margin">Horsefeathers 239</h5>
                            </div>
                            <p class="desc">59% Cotton Lorem Ipsum Dolor Sit Amet esed ultrices sapien nunc nam frignila</p>
                            <div class="row-fluid hidden-line">
                                <div class="span6">
                                    <a href="#" class="btn btn-small"><i class="icon-heart"></i></a>
                                    <a href="#" class="btn btn-small"><i class="icon-exchange"></i></a>
                                </div>
                                <div class="span6 align-right">
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                                                    </div>
                            </div>
                            </div>
                  </div>
              </div> --> <!-- /product -->

                                                            <!--  ==========  -->




            </div>  <!-- row popup spacer -->
        </div>
    </div> <!-- /new products -->

    <!--  ==========  -->
    <!--  = Most Popular products =  -->
    <!--  ==========  -->
    <div class="most-popular blocks-spacer">
      <div class="container">

          <!--  ==========  -->
      <!--  = Title =  -->
      <!--  ==========  -->
          <div class="row">
            <div class="span12">
                <div class="main-titles lined">
                      <h2 class="title"><span class="light">Most</span> Popular Products</h2>
                  </div>
            </div>
          </div> <!-- /title -->

        <div class="row popup-products">

            <!--  ==========  -->
        <!--  = Product =  -->
        <!--  ==========  -->
                <div class="span3">
                    <div class="product">
                        <div class="product-inner">
                            <div class="product-img">
                                <div class="picture">
                                    <a href="product.html"><img src="images/5.jpg" alt="" width="540" height="412" /></a>
                                    <div class="img-overlay">
                                        <a href="product.html" class="btn more btn-primary">More</a>
                                        <a href="#" class="btn buy btn-danger">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="main-titles no-margin">
                                <h4 class="title">$230984.00</h4>
                                <h5 class="no-margin">Durian Cheesecake</h5>
                            </div>
                            <p class="desc">stinky yumyum</p>
                            <div class="row-fluid hidden-line">
                                <div class="span6">
                                    <a href="#" class="btn btn-small"><i class="icon-heart"></i></a>
                                    <a href="#" class="btn btn-small"><i class="icon-exchange"></i></a>
                                </div>
                                <div class="span6 align-right">
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star"></span>
                                                                    </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- /product -->

            <!--  ==========  -->
        <!--  = Product =  -->
        <!--  ==========  -->
                <div class="span3">
                    <div class="product">
                        <div class="product-inner">
                            <div class="product-img">
                                <div class="picture">
                                    <a href="product.html"><img src="images/Baked-goods-e1288379066214.jpg" alt="" width="540" height="412" /></a>
                                    <div class="img-overlay">
                                        <a href="product.html" class="btn more btn-primary">More</a>
                                        <a href="#" class="btn buy btn-danger">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="main-titles no-margin">
                                <h4 class="title">$2934928098033.00</h4>
                                <h5 class="no-margin">Insane baked goods overdose pack</h5>
                            </div>
                            <p class="desc">die from an insulin nosebleed</p>
                            <div class="row-fluid hidden-line">
                                <div class="span6">
                                    <a href="#" class="btn btn-small"><i class="icon-heart"></i></a>
                                    <a href="#" class="btn btn-small"><i class="icon-exchange"></i></a>
                                </div>
                                <div class="span6 align-right">
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star stars-clr"></span>
                                                                    </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- /product -->

            <!--  ==========  -->
        <!--  = Product =  -->
        <!--  ==========  -->
                <div class="span3">
                    <div class="product">
                        <div class="product-inner">
                            <div class="product-img">
                                <div class="picture">
                                    <a href="product.html"><img src="images/DSC_3173.JPG" alt="" width="540" height="412" /></a>
                                    <div class="img-overlay">
                                        <a href="product.html" class="btn more btn-primary">More</a>
                                        <a href="#" class="btn buy btn-danger">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="main-titles no-margin">
                                <h4 class="title">$238.29</h4>
                                <h5 class="no-margin">mille crepe</h5>
                            </div>
                            <p class="desc">layer upon layer of crepe floating upon fresh whipped cream from happy cows that are massaged by 108 chinese virgins and fed an intoxicating mixture of sake and ambrosia from the gods.</p>
                            <div class="row-fluid hidden-line">
                                <div class="span6">
                                    <a href="#" class="btn btn-small"><i class="icon-heart"></i></a>
                                    <a href="#" class="btn btn-small"><i class="icon-exchange"></i></a>
                                </div>
                                <div class="span6 align-right">
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star stars-clr"></span>
                                                                    </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- /product -->

            <!--  ==========  -->
        <!--  = Product =  -->
        <!--  ==========  -->
                <div class="span3">
                    <div class="product">
                        <div class="product-inner">
                            <div class="product-img">
                                <div class="picture">
                                    <a href="product.html"><img src="images/top-bg.jpg" alt="" width="540" height="412" /></a>
                                    <div class="img-overlay">
                                        <a href="product.html" class="btn more btn-primary">More</a>
                                        <a href="#" class="btn buy btn-danger">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="main-titles no-margin">
                                <h4 class="title">$10000.00</h4>
                                <h5 class="no-margin">seafood surprise cake - happy bday!</h5>
                            </div>
                            <p class="desc">this is a cake made to look like a loaf of grilled fish with sauces and veggies and calamari legs.  i promise its not really seafood.  actually its seafood dude.</p>
                            <div class="row-fluid hidden-line">
                                <div class="span6">
                                    <a href="#" class="btn btn-small"><i class="icon-heart"></i></a>
                                    <a href="#" class="btn btn-small"><i class="icon-exchange"></i></a>
                                </div>
                                <div class="span6 align-right">
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                                                    </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- /product -->
                          </div>
      </div>
    </div> <!-- /most popular -->

    <!--  ==========  -->
    <!--  = Lastest News =  -->
    <!--  ==========  -->
    <div class="darker-stripe blocks-spacer more-space latest-news with-shadows">
      <div class="container">

          <!--  ==========  -->
      <!--  = Title =  -->
      <!--  ==========  -->
        <div class="row">
          <div class="span12">
              <div class="main-titles center-align">
                  <h2 class="title">
                      <span class="clickable icon-chevron-left" id="tweetsLeft"></span> &nbsp;&nbsp;&nbsp;
                      <span class="light">Latest</span> News &nbsp;&nbsp;&nbsp;
                      <span class="clickable icon-chevron-right" id="tweetsRight"></span>
                  </h2>
              </div>
          </div>
        </div> <!-- /title -->

        <!--  ==========  -->
      <!--  = News content =  -->
      <!--  ==========  -->
        <div class="row">
            <div class="span12">
                <div class="carouFredSel" data-nav="tweets" data-autoplay="false">

                    <!--  ==========  -->
            <!--  = Slide =  -->
            <!--  ==========  -->
                        <div class="slide">
                          <div class="row">
                            <div class="span6">
                                <div class="news-item">
                                    <div class="published">12. July, 2013</div>
                                    <h6><a href="#">Title of the Latest News</a></h6>
                                    <p>doing things, changing things</p>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="news-item">
                                    <div class="published">18. July, 2013</div>
                                    <h6><a href="#">Another Amusing News</a></h6>
                                    <p>new cupcake flavor was born the other day when a blueberry road a banana muffin to school</p>
                                </div>
                            </div>
                          </div>
                        </div> <!-- /slide -->

                    <!--  ==========  -->
            <!--  = Slide =  -->
            <!--  ==========  -->
                        <div class="slide">
                          <div class="row">
                            <div class="span6">
                                <div class="news-item">
                                    <div class="published">12. July, 2013</div>
                                    <h6><a href="#">Title of the Latest News</a></h6>
                                    <p>pies vs cakes - what you need to know about texture, density, and moisture.  moist moist moisty.</p>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="news-item">
                                    <div class="published">18. July, 2013</div>
                                    <h6><a href="#">Another Amusing News</a></h6>
                                    <p>newest cookie jar on the street - if you haven't checked out this store yet, you are missing out.  weight watchers people, save your calories!</p>
                                </div>
                            </div>
                          </div>
                        </div> <!-- /slide -->
                                            </div>
            </div>
        </div> <!-- /news content -->
      </div>
    </div> <!-- /latest news -->

    <!--  ==========  -->
    <!--  = Brands Carousel =  -->
    <!--  ==========  -->
  <div class="container blocks-spacer-last">

    <!--  ==========  -->
    <!--  = Title =  -->
    <!--  ==========  -->
    <div class="row">
        <div class="span12">
          <div class="main-titles lined">
                  <h2 class="title"><span class="light">Our</span> Brands</h2>
                    <div class="arrows">
                        <a href="#" class="icon-chevron-left" id="brandsLeft"></a>
                        <a href="#" class="icon-chevron-right" id="brandsRight"></a>
                    </div>
              </div>
        </div>
    </div> <!-- /title -->

    <!--  ==========  -->
    <!--  = Logos =  -->
    <!--  ==========  -->
    <div class="row">
        <div class="span12">
          <div class="brands carouFredSel" data-nav="brands" data-autoplay="true">
                    <img src="images/levain_logo.gif" alt="" width="203" height="104" />
                    <img src="images/ladym_logo.jpg" alt="" width="203" height="104" />

                  <!--   <img src="images/dummy/brands/brands_03.jpg" alt="" width="203" height="104" />
                    <img src="images/dummy/brands/brands_04.jpg" alt="" width="203" height="104" />
                    <img src="images/dummy/brands/brands_05.jpg" alt="" width="203" height="104" />
                    <img src="images/dummy/brands/brands_06.jpg" alt="" width="203" height="104" /> -->
                </div>
        </div>
    </div> <!-- /logos -->
  </div> <!-- /brands carousel -->


        <!--  ==========  -->
    <!--  = Footer =  -->
    <!--  ==========  -->
    <footer>

        <!--  ==========  -->
        <!--  = Upper footer =  -->
        <!--  ==========  -->
        <div class="foot-light">
            <div class="container">
                <div class="row">
                    <div class="span4">
                        <h2 class="pacifico">Sweetist &nbsp; <img src="images/webmarket.png" alt="Webmarket Cart" class="align-baseline" /></h2>
                        <p>The preeminent place to find out and shop delicious and rare experiences in sweets and baked goods! </p>
                    </div>
                    <div class="span4">
                        <div class="main-titles lined">
                            <h3 class="title">Facebook</h3>
                        </div>
                        <div class="bordered">
                            <div class="fill-iframe">
                                <div class="fb-like-box" data-href="https://www.facebook.com/ProteusNet" data-width="292" data-height="200" data-colorscheme="dark" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="main-titles lined">
                            <h3 class="title"><span class="light">Newsletters</span> Signup</h3>
                        </div>
                        <p>Sign up to stay on top of deals and steals!</p>
                        <!-- Begin MailChimp Signup Form -->
                        <div id="mc_embed_signup">
                        <form action="https://#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form form-inline" target="_blank" novalidate>
                            <div class="mc-field-group">
                                <input type="email" value="" placeholder="Enter your e-mail address" name="EMAIL" class="required email" id="mce-EMAIL">
                                <input type="submit" value="Send" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
                            </div>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>

                        </form>
                        </div>
                        <!--End mc_embed_signup-->
                    </div>
                </div>
            </div>
        </div> <!-- /upper footer -->

        <!--  ==========  -->
        <!--  = Middle footer =  -->
        <!--  ==========  -->
        <div class="foot-dark">
            <div class="container">
                <div class="row">

                    <!--  ==========  -->
                    <!--  = Menu 1 =  -->
                    <!--  ==========  -->
                    <div class="span3">
                        <div class="main-titles lined">
                            <h3 class="title"><span class="light">Main</span> Navigation</h3>
                        </div>
                        <ul class="nav bold">
                            <li><a href="#">Home</a></li>
                     <!--        <li><a href="#">Pages</a></li> -->
                            <li><a href="/about">About Us</a></li>
                        <!--     <li><a href="#">Shortcodes</a></li>
                            <li><a href="#">Gallery</a></li> -->
                            <li><a href="/contact">Contact Us</a></li>
                        </ul>
                    </div>

                    <!--  ==========  -->
                    <!--  = Menu 2 =  -->
                    <!--  ==========  -->
                   <!--  <div class="span3">
                        <div class="main-titles lined">
                            <h3 class="title"><span class="light">Second</span> Navigation</h3>
                        </div>
                        <ul class="nav">
                            <li><a href="#">Lorem Ipsum Dolor Sit</a></li>
                            <li><a href="#">Amet Webmarket Signup</a></li>
                            <li><a href="#">Brands</a></li>
                            <li><a href="#">Latest Tweets Sometging</a></li>
                            <li><a href="#">Ipsum Sit Lorem Amet</a></li>
                        </ul>
                    </div> -->

                    <!--  ==========  -->
                    <!--  = Menu 3 =  -->
                    <!--  ==========  -->
              <!--       <div class="span3">
                        <div class="main-titles lined">
                            <h3 class="title"><span class="light">Third</span> Navigation</h3>
                        </div>
                        <ul class="nav">
                            <li><a href="#">Lorem Ipsum Dolor Sit</a></li>
                            <li><a href="#">Amet Webmarket Signup</a></li>
                            <li><a href="#">Brands</a></li>
                            <li><a href="#">Latest Tweets Sometging</a></li>
                            <li><a href="#">Ipsum Sit Lorem Amet</a></li>
                        </ul>
                    </div> -->

                    <!--  ==========  -->
                    <!--  = Menu 4 =  -->
                    <!--  ==========  -->
                    <!-- <div class="span3">
                        <div class="main-titles lined">
                            <h3 class="title"><span class="light">Fourth</span> Navigation</h3>
                        </div>
                        <ul class="nav">
                            <li><a href="#">Lorem Ipsum Dolor Sit</a></li>
                            <li><a href="#">Amet Webmarket Signup</a></li>
                            <li><a href="#">Brands</a></li>
                            <li><a href="#">Latest Tweets Sometging</a></li>
                            <li><a href="#">Ipsum Sit Lorem Amet</a></li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </div> <!-- /middle footer -->

        <!--  ==========  -->
        <!--  = Bottom Footer =  -->
        <!--  ==========  -->
        <div class="foot-last">
            <a href="#" id="toTheTop">
                <span class="icon-chevron-up"></span>
            </a>
            <div class="container">
                <div class="row">
                    <div class="span6">
                        &copy; Sweetist Inc. Copyright 2013.
                    </div>
                    <!-- <div class="span6">
                        <div class="pull-right">Webmarket HTML Template by <a href="http://www.proteusthemes.com">ProteusThemes</a></div>
                    </div> -->
                </div>
            </div>
        </div> <!-- /bottom footer -->
    </footer> <!-- /footer -->


    <!--  ==========  -->
    <!--  = Modal Windows =  -->
    <!--  ==========  -->

    <!--  = Login =  -->
    <div id="loginModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">


        <!-- <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h3 id="loginModalLabel"><span class="light">Login</span> To Webmarket</h3>
        </div>
        <div class="modal-body">
            <form method="post" action="#">
                <div class="control-group">
                    <label class="control-label hidden shown-ie8" for="inputEmail">Username</label>
                    <div class="controls">
                        <input type="text" class="input-block-level" id="inputEmail" placeholder="Username" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label hidden shown-ie8" for="inputPassword">Password</label>
                    <div class="controls">
                        <input type="password" class="input-block-level" id="inputPassword" placeholder="Password" required>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox">
                            Remember me
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary input-block-level bold higher">
                    SIGN IN
                </button>
            </form>
            <p class="center-align push-down-0">
                <a data-toggle="modal" role="button" href="#forgotPassModal" data-dismiss="modal">Forgot your password?</a>
            </p>
        </div> -->

        <div class="body_stuff devise">
          <h2>Sign in</h2>

              <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
                <div><%= f.label :email %><br />
                <%= f.email_field :email, :autofocus => true %></div>

                <div><%= f.label :password %><br />
                <%= f.password_field :password %></div>

                <% if devise_mapping.rememberable? -%>
                  <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
                <% end -%>

                <div><%= f.submit "Sign in" %></div>
<%= devise_error_messages! %>
                <i>
        <br>
                  * * *<br>
                  for demonstration purposes -<Br>
                  login: demo@demo.com<Br>
                  password: demodemo<Br>
                  * * *
                </i>

              <% end %>

        <br>
        <%= render "devise/shared/links" %>

    </div>


    </div>



    <!--  = Register =  -->
    <div id="registerModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
        <!-- <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h3 id="registerModalLabel"><span class="light">Register</span> To Webmarket</h3>
        </div>
        <div class="modal-body">
            <form method="post" action="#">
                <div class="control-group">
                    <label class="control-label hidden shown-ie8" for="inputUsernameRegister">Username</label>
                    <div class="controls">
                        <input type="text" class="input-block-level" id="inputUsernameRegister" placeholder="Username" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label hidden shown-ie8" for="inputEmailRegister">Email</label>
                    <div class="controls">
                        <input type="email" class="input-block-level" id="inputEmailRegister" placeholder="Email" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label hidden shown-ie8" for="inputPasswordRegister">Password</label>
                    <div class="controls">
                        <input type="password" class="input-block-level" id="inputPasswordRegister" placeholder="Password" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-danger input-block-level bold higher">
                    REGISTER
                </button>
            </form>
            <p class="center-align push-down-0">
                <a data-toggle="modal" role="button" href="#loginModal" data-dismiss="modal">Already Registered?</a>
            </p>

        </div> -->

        <div class="body_stuff devise">
          <h2>Sign up</h2>
              <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>

                <div><%= f.label :email %><br />
                <%= f.email_field :email, :autofocus => true %></div>

                <div><%= f.label :password %><br />
                <%= f.password_field :password %></div>

                <div><%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation %></div>

                <div><%= f.submit "Sign up" %></div>
              <% end %>
        </div>
        <br><br>


    </div>




    <!--  = Forgot your password =  -->
    <div id="forgotPassModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="forgotPassModalLabel" aria-hidden="true">


        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h3 id="forgotPassModalLabel"><span class="light">Forgot</span> your password?</h3>
        </div>
        <div class="modal-body">
            <form method="post" action="#">
                <div class="control-group">
                    <label class="control-label hidden shown-ie8" for="inputUsernameRegister">Username</label>
                    <div class="controls">
                        <input type="text" class="input-block-level" id="inputUsernameRegister" placeholder="Username">
                    </div>
                </div>
                <p class="center-align">OR</p>
                <div class="control-group">
                    <label class="control-label hidden shown-ie8" for="inputEmailRegister">Email</label>
                    <div class="controls">
                        <input type="email" class="input-block-level" id="inputEmailRegister" placeholder="Email">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary input-block-level bold higher">
                    SEND ME A NEW PASSWORD
                </button>
            </form>
        </div>



    </div>

        </div> <!-- end of master-wrapper -->

  </body>
</html>













    <!--  ==========  -->
    <!--  = JavaScript =  -->
    <!--  ==========  -->

    <!--  = FB =  -->

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=126780447403102";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>


    <!--  = jQuery - CDN with local fallback =  -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
    if (typeof jQuery == 'undefined') {
        document.write('<script src="js/jquery.min.js"><\/script>');
    }
    </script>

    <!--  = _ =  -->
    <script src="assets/underscore-min.js" type="text/javascript"></script>

    <!--  = Bootstrap =  -->
    <script src="assets/bootstrap.min.js" type="text/javascript"></script>

    <!--  = Slider Revolution =  -->
    <script src="assets/jquery.themepunch.plugins.min.js" type="text/javascript"></script>
    <script src="assets/jquery.themepunch.revolution.min.js" type="text/javascript"></script>

    <!--  = CarouFredSel =  -->
    <script src="assets/jquery.carouFredSel-6.2.1-packed.js" type="text/javascript"></script>

    <!--  = jQuery UI =  -->
    <script src="assets/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
    <script src="assets/touch-fix.min.js" type="text/javascript"></script>

    <!--  = Isotope =  -->
    <script src="assets/jquery.isotope.min.js" type="text/javascript"></script>

    <!--  = Tour =  -->
    <script src="assets/bootstrap-tour.min.js" type="text/javascript"></script>

    <!--  = PrettyPhoto =  -->
    <script src="assets/jquery.prettyPhoto.js" type="text/javascript"></script>

    <!--  = Google Maps API =  -->
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="assets/jquery.gomap-1.3.2.min.js"></script>

    <!--  = Custom JS =  -->
    <script src="assets/custom.js" type="text/javascript"></script>




  <!-- javascripts separate from template -->
<script>
$(document).ready(function() {

  // for subscription form to persist into rails server
    // $("input[type=submit]").click(function(event){
    //   event.preventDefault();
    //       var name = $("#your-name").val();   // var name = $(this.el).find('#your-name').val();
    //       var email = $("#your-email").val();
    //       var company = $("#company").val();
    //       var website = $("#website").val();
    //       var message = $("#message").val();

    //       $.ajax({
    //         type: "POST",
    //         url: "/add_to_subscribers",
    //         data: {name: name, email: email, company: company, website: website, message: message},
    //         success: alert(email +' has been added to our subscription list!  Stay tuned for updates!')
    //       });

    //       $('#your-name').val('');
    //       $('#your-email').val('');
    //       $('#company').val('');
    //       $('#website').val('');
    //       $('#message').val('');

    // });

  //for zip code area check
    $("#zipcode_check").click(function(event) {
        event.preventDefault();
        var zipcode = $("#entered_zip").val();

        var serviceArea = function(answer){
          if(answer === 'yes'){
            $('#service_area').html("Yes!  We are currently servicing your area!<br><br>Check out our products now!");
          } else {
            $('#service_area').html("Unfortunately we currently do not service your area. <br>But stay tuned!  We are expanding quickly!");
          }
        }

        $.ajax({
          type: "GET",
          url: "/zipcode_check",
          data: {zipcode: zipcode},
          success: function(response){
            serviceArea(response);

          }
        })
    })


});
</script>




