

    <!--  ==========  -->
    <!--  = Slider Revolution =  -->
    <!--  ==========  -->
    <div class="fullwidthbanner-container">
        <div class="fullwidthbanner">
            <ul>
                <li data-transition="premium-random" data-slotamount="3">
                    <img src="images/levain-bakery_s-chocolate-chip-copycat-cookies-urban-bakes-3.png" alt="slider img" width="1400" height="377" />

                    <!-- baloons -->
                    <!-- <div class="caption lft ltt"
                        data-x="570"
                        data-y="50"
                        data-speed="4000"
                        data-start="1000"
                        data-easing="easeOutElastic">
                        <img src="images/dummy/slides/1/baloon1.png" alt="baloon" width="135" height="186" />
                    </div>

                    <div class="caption lft ltt"
                        data-x="770"
                        data-y="60"
                        data-speed="4000"
                        data-start="1200"
                        data-easing="easeOutElastic">
                        <img src="images/dummy/slides/1/baloon3.png" alt="baloon" width="40" height="55" />
                    </div>

                    <div class="caption lft ltt"
                        data-x="870"
                        data-y="80"
                        data-speed="4000"
                        data-start="1500"
                        data-easing="easeOutElastic">
                        <img src="images/dummy/slides/1/baloon2.png" alt="baloon" width="60" height="83" />
                    </div> -->

                    <!-- texts -->
                    <div class="caption lfl big_theme"
                        data-x="120"
                        data-y="120"
                        data-speed="1000"
                        data-start="500"
                        data-easing="easeInOutBack">
                        Sweetist
                    </div>

                    <div class="caption lfl small_theme"
                        data-x="120"
                        data-y="190"
                        data-speed="1000"
                        data-start="700"
                        data-easing="easeInOutBack">
                        You're one-stop shop for discovering the latest in baked goods!
                    </div>

                   <!--  <a href="features.html" class="caption lfl btn btn-primary btn_theme"
                        data-x="120"
                        data-y="260"
                        data-speed="1000"
                        data-start="900"
                        data-easing="easeInOutBack">
                        ALL THEME FEATURES
                    </a> -->
                </li><!-- /slide -->

                <li data-transition="premium-random" data-slotamount="3">
                    <img src="images/Multi-coloured_macarons,_September_2010.jpg" alt="slider img" width="1400" height="377" />

                    <!-- woman -->
                    <!-- <div class="caption lfb ltb"
                        data-x="800"
                        data-y="50"
                        data-speed="1000"
                        data-start="1000"
                        data-easing="easeInOutCubic">
                        <img src="images/dummy/slides/2/woman.png" alt="woman" width="361" height="374" />
                    </div> -->

                    <!-- plane -->
                    <!-- <div class="caption lfl str"
                        data-x="400"
                        data-y="20"
                        data-speed="10000"
                        data-start="1000"
                        data-easing="linear">
                        <img src="images/dummy/slides/2/plane.png" alt="aircraft" width="117" height="28" />
                    </div> -->

                    <!-- texts -->
                    <div class="caption lfl big_theme"
                        data-x="120"
                        data-y="120"
                        data-speed="1000"
                        data-start="500"
                        data-easing="easeInOutBack">
                        Discover all the latest shops and sweets through our blog!
                    </div>

                    <div class="caption lfl small_theme"
                        data-x="120"
                        data-y="190"
                        data-speed="1000"
                        data-start="700"
                        data-easing="easeInOutBack">
                        Written by renowned food bloggers
                    </div>

                   <!--  <a href="features.html" class="caption lfl btn btn-primary btn_theme"
                        data-x="120"
                        data-y="260"
                        data-speed="1000"
                        data-start="900"
                        data-easing="easeInOutBack">
                        AND MANY MORE ...
                    </a> -->
                </li><!-- /slide -->

                <li data-transition="premium-random" data-slotamount="3">
                    <img src="images/millfrepe.JPG" alt="slider img" width="1400" height="377" />

                    <!-- phone -->
                <!--     <div class="caption sfr fadeout"
                        data-x="950"
                        data-y="77"
                        data-speed="1000"
                        data-start="2500"
                        data-easing="easeInOutCubic">
                        <img src="images/dummy/slides/3/phone.png" alt="phone in a hand" width="495" height="377" />
                    </div> -->

                    <!-- texts -->
                    <div class="caption lfl big_theme"
                        data-x="120"
                        data-y="120"
                        data-speed="1000"
                        data-start="500"
                        data-easing="easeInOutBack">
                        So many stores to discover
                    </div>

                    <div class="caption lfl small_theme"
                        data-x="120"
                        data-y="190"
                        data-speed="1000"
                        data-start="700"
                        data-easing="easeInOutBack">
                        We have the hook up on boutique bakeries and patisseries!
                    </div>

                    <!-- <a href="icons.html" class="caption lfl btn btn-primary btn_theme"
                        data-x="120"
                        data-y="260"
                        data-speed="1000"
                        data-start="900"
                        data-easing="easeInOutBack">
                        And also all the icons are retina-ready...
                    </a> -->
                </li><!-- /slide -->

                <li data-transition="premium-random" data-slotamount="3">
                    <img src="images/Baked-goods-e1288379066214.jpg" alt="slider img" width="1400" height="377" />

                    <!-- faces -->
                    <!-- <div class="caption lft ltt"
                        data-x="-150"
                        data-y="0"
                        data-speed="300"
                        data-start="2000"
                        data-easing="easeInOutCubic">
                        <img src="images/dummy/slides/4/person1.png" alt="satisfied customer" width="108" height="204" />
                    </div>
                    <div class="caption lft ltt"
                        data-x="0"
                        data-y="0"
                        data-speed="300"
                        data-start="2200"
                        data-easing="easeInOutCubic">
                        <img src="images/dummy/slides/4/person2.png" alt="satisfied customer" width="108" height="321" />
                    </div>
                    <div class="caption lft ltt"
                        data-x="500"
                        data-y="0"
                        data-speed="300"
                        data-start="2400"
                        data-easing="easeInOutCubic">
                        <img src="images/dummy/slides/4/person3.png" alt="satisfied customer" width="108" height="139" />
                    </div>
                    <div class="caption lft ltt"
                        data-x="720"
                        data-y="0"
                        data-speed="300"
                        data-start="2600"
                        data-easing="easeInOutCubic">
                        <img src="images/dummy/slides/4/person4.png" alt="satisfied customer" width="108" height="191" />
                    </div>
                    <div class="caption lft ltt"
                        data-x="940"
                        data-y="0"
                        data-speed="300"
                        data-start="2800"
                        data-easing="easeInOutCubic">
                        <img src="images/dummy/slides/4/person5.png" alt="satisfied customer" width="108" height="139" />
                    </div>
                    <div class="caption lft ltt"
                        data-x="1200"
                        data-y="0"
                        data-speed="300"
                        data-start="3000"
                        data-easing="easeInOutCubic">
                        <img src="images/dummy/slides/4/person6.png" alt="satisfied customer" width="108" height="179" />
                    </div>
                    <div class="caption lft ltt"
                        data-x="1350"
                        data-y="0"
                        data-speed="300"
                        data-start="3200"
                        data-easing="easeInOutCubic">
                        <img src="images/dummy/slides/4/person7.png" alt="satisfied customer" width="108" height="133" />
                    </div> -->

                    <!-- texts -->
                    <div class="caption lfl big_theme"
                        data-x="120"
                        data-y="140"
                        data-speed="1000"
                        data-start="500"
                        data-easing="easeInOutBack">
                        So many choices and easy to order!
                    </div>

                    <div class="caption lfl small_theme"
                        data-x="120"
                        data-y="210"
                        data-speed="1000"
                        data-start="700"
                        data-easing="easeInOutBack">
                        Free shipping on orders over $35!
                    </div>

                   <!--  <a href="http://proteusthemes.ticksy.com/" class="caption lfl btn btn-primary btn_theme"
                        data-x="120"
                        data-y="280"
                        data-speed="1000"
                        data-start="900"
                        data-easing="easeInOutBack">
                        We provide support on Ticksy
                    </a> -->
                </li><!-- /slide -->
            </ul>
            <div class="tp-bannertimer"></div>
        </div>
        <!--  ==========  -->
        <!--  = Nav Arrows =  -->
        <!--  ==========  -->
        <div id="sliderRevLeft"><i class="icon-chevron-left"></i></div>
        <div id="sliderRevRight"><i class="icon-chevron-right"></i></div>
    </div> <!-- /slider revolution -->

    <!--  ==========  -->
    <!--  = Main container =  -->
    <!--  ==========  -->
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="push-up over-slider blocks-spacer">

                    <!--  ==========  -->
                    <!--  = Three Banners =  -->
                    <!--  ==========  -->
                    <div class="row">
                        <div class="span4">
                            <a href="#" class="btn btn-block banner">
                                <span class="title"><span class="light">SUMMER</span> SALE</span>
                                <em>up to 60% off on all shoes</em>
                            </a>
                        </div>
                        <div class="span4">
                            <a href="#" class="btn btn-block colored banner">
                                <span class="title"><span class="light">FREE</span> SHIPPING</span>
                                <em>on orders over $35</em>
                            </a>
                        </div>
                        <div class="span4">
                            <a href="#" class="btn btn-block banner">
                                <span class="title"><span class="light">NEW</span> PRODUCTS</span>
                                <em>for running on lorem ipsum dolor</em>
                            </a>
                        </div>
                    </div> <!-- /three banners -->
                </div>
            </div>
        </div>

        <!--  ==========  -->
        <!--  = Featured Items =  -->
        <!--  ==========  -->
        <div class="row featured-items blocks-spacer">
            <div class="span12">

                <!--  ==========  -->
                <!--  = Title =  -->
                <!--  ==========  -->
              <div class="main-titles lined">
                  <h2 class="title"><span class="light">Featured</span> Products</h2>
                  <div class="arrows">
                        <a href="#" class="icon-chevron-left" id="featuredItemsLeft"></a>
                        <a href="#" class="icon-chevron-right" id="featuredItemsRight"></a>
                    </div>
              </div>
            </div>

            <div class="span12">
                <!--  ==========  -->
                <!--  = Carousel =  -->
                <!--  ==========  -->
                <div class="carouFredSel" data-autoplay="false" data-nav="featuredItems">
                    <div class="slide">
                        <div class="row">


                    <!--  ==========  -->
              <!--  = Product =  -->
              <!--  ==========  -->
                    <div class="span4">
                        <div class="product">
                            <div class="product-img featured">
                                <div class="picture">
                                  <a href="product.html"><img src="images/GTC-Food-378-1536x1024.jpg" alt="" width="518" height="358" /></a>
                                <div class="img-overlay">
                                    <a href="product.html" class="btn more btn-primary">More</a>
                                    <a href="#" class="btn buy btn-danger">Buy</a>
                                </div>
                                </div>
                            </div>
                            <div class="main-titles">
                                <h4 class="title">$64.43</h4>
                                <h5 class="no-margin"><a href="product.html">80 billion macarons</a></h5>
                            </div>
                            <p class="desc">truckload of these little tiny cute cookies that you will regret having previously imagined to be light as an angel's fart, as it crushes your lungs under deliciousness.</p>
                        </div>
                        </div> <!-- /product -->


                    <!--  ==========  -->
              <!--  = Product =  -->
              <!--  ==========  -->
                    <div class="span4">
                        <div class="product">
                            <div class="product-img featured">
                                <div class="picture">
                                  <a href="product.html"><img src="images/top-bg.jpg" alt="" width="518" height="358" /></a>
                                <div class="img-overlay">
                                    <a href="product.html" class="btn more btn-primary">More</a>
                                    <a href="#" class="btn buy btn-danger">Buy</a>
                                </div>
                                </div>
                            </div>
                            <div class="main-titles no-margin">
                                <h4 class="title">$10000.00</h4>
                                <h5 class="no-margin">seafood surprise cake - happy bday!</h5>
                            </div>
                            <p class="desc">this is a cake made to look like a loaf of grilled fish with sauces and veggies and calamari legs.  i promise its not really seafood.  actually its seafood dude.</p>
                        </div>
                        </div> <!-- /product -->


                    <!--  ==========  -->
              <!--  = Product =  -->
              <!--  ==========  -->
                    <div class="span4">
                        <div class="product">
                            <div class="product-img featured">
                                <div class="picture">
                                  <a href="product.html"><img src="images/DSC_3173.JPG" alt="" width="518" height="358" /></a>
                                <div class="img-overlay">
                                    <a href="product.html" class="btn more btn-primary">More</a>
                                    <a href="#" class="btn buy btn-danger">Buy</a>
                                </div>
                                </div>
                            </div>
                           <div class="main-titles no-margin">
                                <h4 class="title">$238.29</h4>
                                <h5 class="no-margin">mille crepe</h5>
                            </div>
                            <p class="desc">layer upon layer of crepe floating upon fresh whipped cream from happy cows that are massaged by 108 chinese virgins and fed an intoxicating mixture of sake and ambrosia from the gods.</p>
                        </div>
                        </div> <!-- /product -->

                                            </div>
                  </div>
                  <div class="slide">
                      <div class="row">

                    <!--  ==========  -->
              <!--  = Product =  -->
              <!--  ==========  -->
                    <div class="span4">
                        <div class="product">
                            <div class="product-img featured">
                                <div class="picture">
                                  <a href="product.html"><img src="images/dummy/featured-products/featured-1.png" alt="" width="518" height="358" /></a>
                                <div class="img-overlay">
                                    <a href="product.html" class="btn more btn-primary">More</a>
                                    <a href="#" class="btn buy btn-danger">Buy</a>
                                </div>
                                </div>
                            </div>
                            <div class="main-titles">
                                <h4 class="title">$76</h4>
                                <h5 class="no-margin"><a href="product.html">Horsefeathers 753</a></h5>
                            </div>
                            <p class="desc">59% Cotton Lorem Ipsum Dolor Sit Amet esed ultrices sapien nunc nam frignila</p>
                        </div>
                        </div> <!-- /product -->


                    <!--  ==========  -->
              <!--  = Product =  -->
              <!--  ==========  -->
                    <div class="span4">
                        <div class="product">
                            <div class="product-img featured">
                                <div class="picture">
                                  <a href="product.html"><img src="images/GTC-Food-378-1536x1024.jpg" alt="" width="518" height="358" /></a>
                                <div class="img-overlay">
                                    <a href="product.html" class="btn more btn-primary">More</a>
                                    <a href="#" class="btn buy btn-danger">Buy</a>
                                </div>
                                </div>
                            </div>
                            <div class="main-titles">
                                <h4 class="title">$64.43</h4>
                                <h5 class="no-margin"><a href="product.html">80 billion macarons</a></h5>
                            </div>
                            <p class="desc">truckload of these little tiny cute cookies that you will regret having previously imagined to be light as an angel's fart, as it crushes your lungs under deliciousness.</p>
                        </div>
                        </div> <!-- /product -->


                    <!--  ==========  -->
              <!--  = Product =  -->
              <!--  ==========  -->
                    <div class="span4">
                        <div class="product">
                            <div class="product-img featured">
                                <div class="picture">
                                  <a href="product.html"><img src="images/dummy/featured-products/featured-3.png" alt="" width="518" height="358" /></a>
                                <div class="img-overlay">
                                    <a href="product.html" class="btn more btn-primary">More</a>
                                    <a href="#" class="btn buy btn-danger">Buy</a>
                                </div>
                                </div>
                            </div>
                            <div class="main-titles">
                                <h4 class="title">$99</h4>
                                <h5 class="no-margin"><a href="product.html">Horsefeathers 418</a></h5>
                            </div>
                            <p class="desc">59% Cotton Lorem Ipsum Dolor Sit Amet esed ultrices sapien nunc nam frignila</p>
                        </div>
                        </div> <!-- /product -->
                                        </div>
                  </div>
                </div> <!-- /carousel -->
            </div>

        </div>
    </div> <!-- /container -->

    <!--  ==========  -->
    <!--  = New Products =  -->
    <!--  ==========  -->
    <div class="boxed-area blocks-spacer">
        <div class="container">

            <!--  ==========  -->
            <!--  = Title =  -->
            <!--  ==========  -->
            <div class="row">
                <div class="span12">
                    <div class="main-titles lined">
                      <h2 class="title"><span class="light">Sweetist</span> Products in the Shop</h2>
                    </div>
                </div>
            </div> <!-- /title -->

            <div class="row popup-products blocks-spacer">



                                                <!--  ==========  -->
                <!--  = Product =  -->
                <!--  ==========  -->
                <% @product = Product.all %>
                <% @product.each do |product| %>

              <div class="span3">
                    <div class="product">
                     <div class="product-inner">


                          <div class="product-img">
                                <div class="picture">
                                    <a href="product/<%=product.id%>"><img src="images/<%= product.photo %>" alt="" width="540" height="374" /></a>
                                    <div class="img-overlay">
                                        <a href="product/<%=product.id%>" class="btn more btn-primary">More</a>
                                        <a href="#" class="btn buy btn-danger">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="main-titles no-margin">

                                <% vendor = Vendor.find(product.vendor_id) %>


                                <a href="vendor/<%= vendor.id %>"><h4 class="product_vendor"><%= vendor.name %></a>
                                <h5 class="product_name no-margin"><%= product.name %></h5>
                                <h4 class="title">$<%= product.price %></h4>
                            </div>
                            <p class="desc"><%= product.description %></p>


                            <div class="row-fluid hidden-line">
                                <div class="span6">
                                    <a href="#" class="btn btn-small"><i class="icon-heart"></i></a>
                                    <a href="#" class="btn btn-small"><i class="icon-exchange"></i></a>
                                </div>
                                <div class="span6 align-right">
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star stars-clr"></span>
                                </div>
                            </div>
                    </div>
                  </div>


              </div> <!-- /product -->

                <% end %>
                                                            <!--  ==========  -->


                <!--  = Product =  -->
                <!--  ==========  -->
            <!--   <div class="span3">
                    <div class="product">
                     <div class="product-inner">
                          <div class="product-img">
                                <div class="picture">
                                    <a href="product.html"><img src="images/dummy/products/product-7.jpg" alt="" width="540" height="374" /></a>
                                    <div class="img-overlay">
                                        <a href="product.html" class="btn more btn-primary">More</a>
                                        <a href="#" class="btn buy btn-danger">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="main-titles no-margin">
                                <h4 class="title">$32</h4>
                                <h5 class="no-margin">Horsefeathers 239</h5>
                            </div>
                            <p class="desc">59% Cotton Lorem Ipsum Dolor Sit Amet esed ultrices sapien nunc nam frignila</p>
                            <div class="row-fluid hidden-line">
                                <div class="span6">
                                    <a href="#" class="btn btn-small"><i class="icon-heart"></i></a>
                                    <a href="#" class="btn btn-small"><i class="icon-exchange"></i></a>
                                </div>
                                <div class="span6 align-right">
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                                                    </div>
                            </div>
                            </div>
                  </div>
              </div> --> <!-- /product -->

                                                            <!--  ==========  -->




            </div>  <!-- row popup spacer -->
        </div>
    </div> <!-- /new products -->

    <!--  ==========  -->
    <!--  = Most Popular products =  -->
    <!--  ==========  -->
    <div class="most-popular blocks-spacer">
      <div class="container">

          <!--  ==========  -->
      <!--  = Title =  -->
      <!--  ==========  -->
          <div class="row">
            <div class="span12">
                <div class="main-titles lined">
                      <h2 class="title"><span class="light">Most</span> Popular Products</h2>
                  </div>
            </div>
          </div> <!-- /title -->

        <div class="row popup-products">

            <!--  ==========  -->
        <!--  = Product =  -->
        <!--  ==========  -->
                <div class="span3">
                    <div class="product">
                        <div class="product-inner">
                            <div class="product-img">
                                <div class="picture">
                                    <a href="product.html"><img src="images/5.jpg" alt="" width="540" height="412" /></a>
                                    <div class="img-overlay">
                                        <a href="product.html" class="btn more btn-primary">More</a>
                                        <a href="#" class="btn buy btn-danger">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="main-titles no-margin">
                                <h4 class="title">$230984.00</h4>
                                <h5 class="no-margin">Durian Cheesecake</h5>
                            </div>
                            <p class="desc">stinky yumyum</p>
                            <div class="row-fluid hidden-line">
                                <div class="span6">
                                    <a href="#" class="btn btn-small"><i class="icon-heart"></i></a>
                                    <a href="#" class="btn btn-small"><i class="icon-exchange"></i></a>
                                </div>
                                <div class="span6 align-right">
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star"></span>
                                                                    </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- /product -->

            <!--  ==========  -->
        <!--  = Product =  -->
        <!--  ==========  -->
                <div class="span3">
                    <div class="product">
                        <div class="product-inner">
                            <div class="product-img">
                                <div class="picture">
                                    <a href="product.html"><img src="images/Baked-goods-e1288379066214.jpg" alt="" width="540" height="412" /></a>
                                    <div class="img-overlay">
                                        <a href="product.html" class="btn more btn-primary">More</a>
                                        <a href="#" class="btn buy btn-danger">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="main-titles no-margin">
                                <h4 class="title">$2934928098033.00</h4>
                                <h5 class="no-margin">Insane baked goods overdose pack</h5>
                            </div>
                            <p class="desc">die from an insulin nosebleed</p>
                            <div class="row-fluid hidden-line">
                                <div class="span6">
                                    <a href="#" class="btn btn-small"><i class="icon-heart"></i></a>
                                    <a href="#" class="btn btn-small"><i class="icon-exchange"></i></a>
                                </div>
                                <div class="span6 align-right">
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star stars-clr"></span>
                                                                    </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- /product -->

            <!--  ==========  -->
        <!--  = Product =  -->
        <!--  ==========  -->
                <div class="span3">
                    <div class="product">
                        <div class="product-inner">
                            <div class="product-img">
                                <div class="picture">
                                    <a href="product.html"><img src="images/DSC_3173.JPG" alt="" width="540" height="412" /></a>
                                    <div class="img-overlay">
                                        <a href="product.html" class="btn more btn-primary">More</a>
                                        <a href="#" class="btn buy btn-danger">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="main-titles no-margin">
                                <h4 class="title">$238.29</h4>
                                <h5 class="no-margin">mille crepe</h5>
                            </div>
                            <p class="desc">layer upon layer of crepe floating upon fresh whipped cream from happy cows that are massaged by 108 chinese virgins and fed an intoxicating mixture of sake and ambrosia from the gods.</p>
                            <div class="row-fluid hidden-line">
                                <div class="span6">
                                    <a href="#" class="btn btn-small"><i class="icon-heart"></i></a>
                                    <a href="#" class="btn btn-small"><i class="icon-exchange"></i></a>
                                </div>
                                <div class="span6 align-right">
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star stars-clr"></span>
                                                                    </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- /product -->

            <!--  ==========  -->
        <!--  = Product =  -->
        <!--  ==========  -->
                <div class="span3">
                    <div class="product">
                        <div class="product-inner">
                            <div class="product-img">
                                <div class="picture">
                                    <a href="product.html"><img src="images/top-bg.jpg" alt="" width="540" height="412" /></a>
                                    <div class="img-overlay">
                                        <a href="product.html" class="btn more btn-primary">More</a>
                                        <a href="#" class="btn buy btn-danger">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="main-titles no-margin">
                                <h4 class="title">$10000.00</h4>
                                <h5 class="no-margin">seafood surprise cake - happy bday!</h5>
                            </div>
                            <p class="desc">this is a cake made to look like a loaf of grilled fish with sauces and veggies and calamari legs.  i promise its not really seafood.  actually its seafood dude.</p>
                            <div class="row-fluid hidden-line">
                                <div class="span6">
                                    <a href="#" class="btn btn-small"><i class="icon-heart"></i></a>
                                    <a href="#" class="btn btn-small"><i class="icon-exchange"></i></a>
                                </div>
                                <div class="span6 align-right">
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                                                    </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- /product -->
                          </div>
      </div>
    </div> <!-- /most popular -->

    <!--  ==========  -->
    <!--  = Lastest News =  -->
    <!--  ==========  -->
    <div class="darker-stripe blocks-spacer more-space latest-news with-shadows">
      <div class="container">

          <!--  ==========  -->
      <!--  = Title =  -->
      <!--  ==========  -->
        <div class="row">
          <div class="span12">
              <div class="main-titles center-align">
                  <h2 class="title">
                      <span class="clickable icon-chevron-left" id="tweetsLeft"></span> &nbsp;&nbsp;&nbsp;
                      <span class="light">Latest</span> News &nbsp;&nbsp;&nbsp;
                      <span class="clickable icon-chevron-right" id="tweetsRight"></span>
                  </h2>
              </div>
          </div>
        </div> <!-- /title -->

        <!--  ==========  -->
      <!--  = News content =  -->
      <!--  ==========  -->
        <div class="row">
            <div class="span12">
                <div class="carouFredSel" data-nav="tweets" data-autoplay="false">

                    <!--  ==========  -->
            <!--  = Slide =  -->
            <!--  ==========  -->
                        <div class="slide">
                          <div class="row">
                            <div class="span6">
                                <div class="news-item">
                                    <div class="published">12. July, 2013</div>
                                    <h6><a href="#">Title of the Latest News</a></h6>
                                    <p>doing things, changing things</p>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="news-item">
                                    <div class="published">18. July, 2013</div>
                                    <h6><a href="#">Another Amusing News</a></h6>
                                    <p>new cupcake flavor was born the other day when a blueberry road a banana muffin to school</p>
                                </div>
                            </div>
                          </div>
                        </div> <!-- /slide -->

                    <!--  ==========  -->
            <!--  = Slide =  -->
            <!--  ==========  -->
                        <div class="slide">
                          <div class="row">
                            <div class="span6">
                                <div class="news-item">
                                    <div class="published">12. July, 2013</div>
                                    <h6><a href="#">Title of the Latest News</a></h6>
                                    <p>pies vs cakes - what you need to know about texture, density, and moisture.  moist moist moisty.</p>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="news-item">
                                    <div class="published">18. July, 2013</div>
                                    <h6><a href="#">Another Amusing News</a></h6>
                                    <p>newest cookie jar on the street - if you haven't checked out this store yet, you are missing out.  weight watchers people, save your calories!</p>
                                </div>
                            </div>
                          </div>
                        </div> <!-- /slide -->
                                            </div>
            </div>
        </div> <!-- /news content -->
      </div>
    </div> <!-- /latest news -->

    <!--  ==========  -->
    <!--  = Brands Carousel =  -->
    <!--  ==========  -->
  <div class="container blocks-spacer-last">

    <!--  ==========  -->
    <!--  = Title =  -->
    <!--  ==========  -->
    <div class="row">
        <div class="span12">
          <div class="main-titles lined">
                  <h2 class="title"><span class="light">Our</span> Brands</h2>
                    <div class="arrows">
                        <a href="#" class="icon-chevron-left" id="brandsLeft"></a>
                        <a href="#" class="icon-chevron-right" id="brandsRight"></a>
                    </div>
              </div>
        </div>
    </div> <!-- /title -->

    <!--  ==========  -->
    <!--  = Logos =  -->
    <!--  ==========  -->
    <div class="row">
        <div class="span12">
          <div class="brands carouFredSel" data-nav="brands" data-autoplay="true">
                    <img src="images/levain_logo.gif" alt="" width="203" height="104" />
                    <img src="images/ladym_logo.jpg" alt="" width="203" height="104" />

                  <!--   <img src="images/dummy/brands/brands_03.jpg" alt="" width="203" height="104" />
                    <img src="images/dummy/brands/brands_04.jpg" alt="" width="203" height="104" />
                    <img src="images/dummy/brands/brands_05.jpg" alt="" width="203" height="104" />
                    <img src="images/dummy/brands/brands_06.jpg" alt="" width="203" height="104" /> -->
                </div>
        </div>
    </div> <!-- /logos -->
  </div> <!-- /brands carousel -->



