

<!--  ==========  -->
    <!--  = Footer =  -->
    <!--  ==========  -->
    <footer>

        <!--  ==========  -->
        <!--  = Upper footer =  -->
        <!--  ==========  -->
        <div class="foot-light">
            <div class="container">
                <div class="row">
                    <div class="span4">
                        <h2 class="pacifico">Sweetist &nbsp; <img src="images/webmarket.png" alt="Webmarket Cart" class="align-baseline" /></h2>
                        <p>The preeminent place to find out and shop delicious and rare experiences in sweets and baked goods! </p>
                    </div>
                    <div class="span4">
                        <div class="main-titles lined">
                            <h3 class="title">Facebook</h3>
                        </div>
                        <div class="bordered">
                            <div class="fill-iframe">
                                <div class="fb-like-box" data-href="https://www.facebook.com/ProteusNet" data-width="292" data-height="200" data-colorscheme="dark" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="main-titles lined">
                            <h3 class="title"><span class="light">Newsletters</span> Signup</h3>
                        </div>
                        <p>Sign up to stay on top of deals and steals!</p>
                        <!-- Begin MailChimp Signup Form -->
                        <div id="mc_embed_signup">
                        <form action="https://#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form form-inline" target="_blank" novalidate>
                            <div class="mc-field-group">
                                <input type="email" value="" placeholder="Enter your e-mail address" name="EMAIL" class="required email" id="mce-EMAIL">
                                <input type="submit" value="Send" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
                            </div>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>

                        </form>
                        </div>
                        <!--End mc_embed_signup-->
                    </div>
                </div>
            </div>
        </div> <!-- /upper footer -->

				<!-- COMMENTING OUT MULTIPLE LINES -->
				<!-- REMOVING MIDDLE FOOTER AREA -->
				<% if false %>

        <!--  ==========  -->
        <!--  = Middle footer =  -->
        <!--  ==========  -->
        <div class="foot-dark">
            <div class="container">
                <div class="row">

                    <!--  ==========  -->
                    <!--  = Menu 1 =  -->
                    <!--  ==========  -->
                    <div class="span3">
                        <div class="main-titles lined">
                            <h3 class="title"><span class="light">Main</span> Navigation</h3>
                        </div>
                        <ul class="nav bold">
                            <li><a href="#">Home</a></li>
                     <!--        <li><a href="#">Pages</a></li> -->
                            <li><a href="/about">About Us</a></li>
                        <!--     <li><a href="#">Shortcodes</a></li>
                            <li><a href="#">Gallery</a></li> -->
                            <li><a href="/contact">Contact Us</a></li>
                        </ul>
                    </div>

                    <!--  ==========  -->
                    <!--  = Menu 2 =  -->
                    <!--  ==========  -->
                   <!--  <div class="span3">
                        <div class="main-titles lined">
                            <h3 class="title"><span class="light">Second</span> Navigation</h3>
                        </div>
                        <ul class="nav">
                            <li><a href="#">Lorem Ipsum Dolor Sit</a></li>
                            <li><a href="#">Amet Webmarket Signup</a></li>
                            <li><a href="#">Brands</a></li>
                            <li><a href="#">Latest Tweets Sometging</a></li>
                            <li><a href="#">Ipsum Sit Lorem Amet</a></li>
                        </ul>
                    </div> -->

                    <!--  ==========  -->
                    <!--  = Menu 3 =  -->
                    <!--  ==========  -->
              <!--       <div class="span3">
                        <div class="main-titles lined">
                            <h3 class="title"><span class="light">Third</span> Navigation</h3>
                        </div>
                        <ul class="nav">
                            <li><a href="#">Lorem Ipsum Dolor Sit</a></li>
                            <li><a href="#">Amet Webmarket Signup</a></li>
                            <li><a href="#">Brands</a></li>
                            <li><a href="#">Latest Tweets Sometging</a></li>
                            <li><a href="#">Ipsum Sit Lorem Amet</a></li>
                        </ul>
                    </div> -->

                    <!--  ==========  -->
                    <!--  = Menu 4 =  -->
                    <!--  ==========  -->
                    <!-- <div class="span3">
                        <div class="main-titles lined">
                            <h3 class="title"><span class="light">Fourth</span> Navigation</h3>
                        </div>
                        <ul class="nav">
                            <li><a href="#">Lorem Ipsum Dolor Sit</a></li>
                            <li><a href="#">Amet Webmarket Signup</a></li>
                            <li><a href="#">Brands</a></li>
                            <li><a href="#">Latest Tweets Sometging</a></li>
                            <li><a href="#">Ipsum Sit Lorem Amet</a></li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </div> <!-- /middle footer -->
				
				<!-- COMMENTING OUT MULTIPLE LINES -->
				<!-- FINISHED REMOVING MIDDLE FOOTER AREA -->
			<% end %>

        <!--  ==========  -->
        <!--  = Bottom Footer =  -->
        <!--  ==========  -->
        <div class="foot-last">
            <a href="#" id="toTheTop">
                <span class="icon-chevron-up"></span>
            </a>
            <div class="container">
                <div class="row">
                    <div class="span6">
                        &copy; 2014 Sweetist, Inc.
                    </div>
                    <div class="span6">
                        <div class="pull-right"><a href="http://www.proteusthemes.com">Legal & Privacy</a></div>
                    </div> 
                </div>
            </div>
        </div> <!-- /bottom footer -->
    </footer> <!-- /footer -->


    <!--  ==========  -->
    <!--  = Modal Windows =  -->
    <!--  ==========  -->

    <!--  = Login =  -->
    <div id="loginModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">


        <!-- <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="loginModalLabel"><span class="light">Login</span> To Webmarket</h3>
        </div>
        <div class="modal-body">
            <form method="post" action="#">
                <div class="control-group">
                    <label class="control-label hidden shown-ie8" for="inputEmail">Username</label>
                    <div class="controls">
                        <input type="text" class="input-block-level" id="inputEmail" placeholder="Username" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label hidden shown-ie8" for="inputPassword">Password</label>
                    <div class="controls">
                        <input type="password" class="input-block-level" id="inputPassword" placeholder="Password" required>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox">
                            Remember me
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary input-block-level bold higher">
                    SIGN IN
                </button>
            </form>
            <p class="center-align push-down-0">
                <a data-toggle="modal" role="button" href="#forgotPassModal" data-dismiss="modal">Forgot your password?</a>
            </p>
        </div> -->

        <div class="body_stuff devise">
          <h2>Sign in</h2>

              <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
                <div><%= f.label :email %><br />
                <%= f.email_field :email, :autofocus => true %></div>

                <div><%= f.label :password %><br />
                <%= f.password_field :password %></div>

                <% if devise_mapping.rememberable? -%>
                  <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
                <% end -%>

                <div><%= f.submit "Sign in" %></div>
<%= devise_error_messages! %>
                <i>
        <br>
                  * * *<br>
                  for demonstration purposes -<Br>
                  login: demo@demo.com<Br>
                  password: demodemo<Br>
                  * * *
                </i>

              <% end %>

        <br>
        <%= render "devise/shared/links" %>

			</div>


    </div>



    <!--  = Register =  -->
    <div id="registerModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
        <!-- <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="registerModalLabel"><span class="light">Register</span> To Webmarket</h3>
        </div>
        <div class="modal-body">
            <form method="post" action="#">
                <div class="control-group">
                    <label class="control-label hidden shown-ie8" for="inputUsernameRegister">Username</label>
                    <div class="controls">
                        <input type="text" class="input-block-level" id="inputUsernameRegister" placeholder="Username" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label hidden shown-ie8" for="inputEmailRegister">Email</label>
                    <div class="controls">
                        <input type="email" class="input-block-level" id="inputEmailRegister" placeholder="Email" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label hidden shown-ie8" for="inputPasswordRegister">Password</label>
                    <div class="controls">
                        <input type="password" class="input-block-level" id="inputPasswordRegister" placeholder="Password" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-danger input-block-level bold higher">
                    REGISTER
                </button>
            </form>
            <p class="center-align push-down-0">
                <a data-toggle="modal" role="button" href="#loginModal" data-dismiss="modal">Already Registered?</a>
            </p>

        </div> -->

        <div class="body_stuff devise">
          <h2>Sign up</h2>
              <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>

                <div><%= f.label :email %><br />
                <%= f.email_field :email, :autofocus => true %></div>

                <div><%= f.label :password %><br />
                <%= f.password_field :password %></div>

                <div><%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation %></div>

                <div><%= f.submit "Sign up" %></div>
              <% end %>
        </div>
        <br><br>


    </div>




    <!--  = Forgot your password =  -->
    <div id="forgotPassModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="forgotPassModalLabel" aria-hidden="true">


        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="forgotPassModalLabel"><span class="light">Forgot</span> your password?</h3>
        </div>
        <div class="modal-body">
            <form method="post" action="#">
                <div class="control-group">
                    <label class="control-label hidden shown-ie8" for="inputUsernameRegister">Username</label>
                    <div class="controls">
                        <input type="text" class="input-block-level" id="inputUsernameRegister" placeholder="Username">
                    </div>
                </div>
                <p class="center-align">OR</p>
                <div class="control-group">
                    <label class="control-label hidden shown-ie8" for="inputEmailRegister">Email</label>
                    <div class="controls">
                        <input type="email" class="input-block-level" id="inputEmailRegister" placeholder="Email">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary input-block-level bold higher">
                    SEND ME A NEW PASSWORD
                </button>
            </form>
					</div>

			</div>

