    <!--  ==========  -->
    <!--  = Header =  -->
    <!--  ==========  -->
    <header id="header">

		<!-- COMMENTING OUT MULTIPLE LINES --> 
		<% if false %> 

			<!--  = TOP ROW WITH WELCOME MESSAGE, MY ACCOUNT, CHECKOUT =  -->
			<!--  = Removing top row, attempting to move My Account to next row area (replacing social network functions)  -->

		<div class="darker-row">
            <div class="container">
                <div class="row">
                    <div class="span4">
                        <div class="higher-line">

                            <% if user_signed_in? %>
                                Welcome <%= current_user.email %>
                                <%= link_to '[logout]', destroy_user_session_path, :method => :delete %>

                            <% else %>
                                Welcome! Please
                                <a href="#registerModal" role="button" data-toggle="modal">Register</a> or
                                <a href="#loginModal" role="button" data-toggle="modal">Login</a>

                            <% end %>

                        </div>
                    </div>
                    <div class="span8">
                        <div class="topmost-line">
                            <div class="higher-line">
                                <a href="/account" class="gray-link">My account</a>
                                &nbsp; | &nbsp;
                           <!--      <a href="/wishlist" class="gray-link">Wishlist (2)</a>
                                &nbsp; | &nbsp; -->
                                <a href="/checkout" class="gray-link">Checkout</a>
                            </div>
                            &nbsp;


                        </div>
                    </div>
                </div>
            </div>
					</div>
					<!--   End of darker-row container (TOP ROW) -->
				<% end %>
				<!-- END MULTIPLE LINE COMMENTING --> 

        <div class="container">
            <div class="row">

                <!--  ==========  -->
                <!--  = Logo =  -->
                <!--  ==========  -->
                <div class="span7">
                    <a class="brand" href="/">
                        <img src="images/logo.png" alt="Webmarket Logo" width="48" height="48" />
                        <span class="pacifico">Sweetist</span>
                        <span class="tagline">The best place to find and experience sweets!</span>
                    </a>
                </div>

		<!-- REMOVING SOCIAL FUNCTIONALITY FOR NOW - WILL REPLACE WITH MY ACCOUNT AND MOVE SOCIAL APPS TO FOOTER --> 
		<!-- Change made Feb 24 [EC] --> 
								<!--  ==========  -->
                <!--  = Social Icons =  -->
                <!--  = Right Side of Brand Row =  -->
                <!--  ==========  -->
                <div class="span5">
									<div class="top-right">

										<!-- Moving "My Account" to be on same row as Logo --> 
										<a href="/account" class="gray-link">My account</a>

		<!-- COMMENTING OUT MULTIPLE LINES --> 
		<% if false %> 
                <!--  = Social Icons =  -->
                        <div class="icons">
                            <a href="https://www.facebook.com"><span class="zocial-facebook"></span></a>
                            <!-- <a href="skype:primozcigler?call"><span class="zocial-skype"></span></a> -->
                            <a href="https://twitter.com/itswenson"><span class="zocial-twitter"></span></a>
                           <!--  <a href="http://eepurl.com/xFPYD"><span class="zocial-rss"></span></a>
                            <a href="#"><span class="zocial-wordpress"></span></a>
                            <a href="#"><span class="zocial-android"></span></a>
                            <a href="#"><span class="zocial-html5"></span></a>
                            <a href="#"><span class="zocial-windows"></span></a>
                            <a href="#"><span class="zocial-apple"></span></a> -->
												</div> <!-- end of social icons -->

				<% end %>
				<!-- END MULTIPLE LINE COMMENTING --> 
			</div>
		</div> <!-- right side of brand row -->

			</div>
        </div>
    </header>

    <!--  ==========  -->
    <!--  = Main Menu / navbar =  -->
    <!--  ==========  -->
    <div class="navbar navbar-static-top" id="stickyNavbar">
      <div class="navbar-inner">
        <div class="container">
          <div class="row">

            <div class="span9">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>

                <!--  ==========  -->
                <!--  = Menu =  -->
                <!--  ==========  -->
                <div class="nav-collapse collapse">
                  <ul class="nav" id="mainNavigation">
										<li>
										<!--  <a class="brand" href="/">  
											-->
										<a href="/">
											<img src="images/logo.png" alt="Webmarket Logo" width="24" height="24" />
                    </a>
										</li>
										<!--		<li><a href="/">Home</a></li>  --> <!-- No need for Home link since logo is the home link -->
										<li><a href="/products">Products</a></li>
										<li><a href="/vendors">Bakeries</a></li>
										<li><a href="/blog">Blog</a></li>
                    <li><a href="about">About Us</a></li>
                    <li><a href="contact">Contact</a></li>
                  </ul>




                  <!--  ==========  -->
                  <!--  = Search form =  -->
                  <!--  ==========  -->
                  <form class="navbar-form pull-right" action="#" method="get">
                      <button type="submit"><span class="icon-search"></span></button>
                      <input type="text" class="span1" name="search" id="navSearchInput">
                  </form>
                </div><!-- /.nav-collapse -->
            </div>






            <!--  ==========  -->
            <!--  = Cart =  -->
            <!--  ==========  -->
            <div class="span3">
							<div class="cart-container" id="cartContainer">
							 	<% if @order %>
									<% @order = Order.all %>
							 	<% else %>
									<% @order = Order.new %>
								<% end %>

								<% @cart = Cart.all %>

								<div class="cart">

                        <p class="items">CART <span class="dark-clr"><%=@cart.length %></span></p>
												<p class="dark-clr hidden-tablet">$1816.90</p>
                        <a href="checkout-step-1.html" class="btn btn-danger">
                            <!-- <span class="icon icons-cart"></span> -->
                            <i class="icon-shopping-cart"></i>
                        </a>
                    </div>
	
	
	
										<div class="open-panel">

											<% @cart.each do |item| %>

											
												<div class="item-in-cart clearfix">
													<div class="image">
														<img src="images/dummy/cart-items/cart-item-1.jpg" width="124" height="124" alt="cart item" />
													</div>
									 				<div class="desc">
														<strong><a href="product.html"><%= item.name %></a></strong>
														<span class="light-clr qty">
															Qty: 1
															&nbsp;
															<a href="#" class="icon-remove-sign" title="Remove Item"></a>
														</span>
													</div>
													<div class="price">
														<strong>$<%= item.price %></strong>
													</div>
												</div>
											<% end %>


<!--
                                                <div class="item-in-cart clearfix">
                            <div class="image">
                                <img src="images/dummy/cart-items/cart-item-1.jpg" width="124" height="124" alt="cart item" />
                            </div>
                            <div class="desc">
                                <strong><a href="product.html">cookies bro</a></strong>
                                <span class="light-clr qty">
                                    Qty: 1
                                    &nbsp;
                                    <a href="#" class="icon-remove-sign" title="Remove Item"></a>
                                </span>
                            </div>
                            <div class="price">
                                <strong>$2595</strong>
                            </div>
                        </div>
                                                <div class="item-in-cart clearfix">
                            <div class="image">
                                <img src="images/dummy/cart-items/cart-item-2.jpg" width="124" height="124" alt="cart item" />
                            </div>
                            <div class="desc">
                                <strong><a href="product.html">brownies bro</a></strong>
                                <span class="light-clr qty">
                                    Qty: 1
                                    &nbsp;
                                    <a href="#" class="icon-remove-sign" title="Remove Item"></a>
                                </span>
                            </div>
                            <div class="price">
                                <strong>$4993</strong>
                            </div>
                        </div>
                                                <div class="item-in-cart clearfix">
                            <div class="image">
                                <img src="images/dummy/cart-items/cart-item-3.jpg" width="124" height="124" alt="cart item" />
                            </div>
                            <div class="desc">
                                <strong><a href="product.html">pies Bro</a></strong>
                                <span class="light-clr qty">
                                    Qty: 1
                                    &nbsp;
                                    <a href="#" class="icon-remove-sign" title="Remove Item"></a>
                                </span>
                            </div>
                            <div class="price">
                                <strong>$5687</strong>
                            </div>
													</div>
	-->
                                                <div class="summary">
                            <div class="line">
                                <div class="row-fluid">
                                    <div class="span6">Shipping:</div>
                                    <div class="span6 align-right">$4.99</div>
                                </div>
                            </div>
                            <div class="line">
                                <div class="row-fluid">
                                    <div class="span6">Subtotal:</div>
                                    <div class="span6 align-right size-16">$357.81</div>
                                </div>
                            </div>
                        </div>
                        <div class="proceed">
                            <a href="checkout-step-1.html" class="btn btn-danger pull-right bold higher">CHECKOUT <i class="icon-shopping-cart"></i></a>
                            <small>Shipping costs are calculated based on location. <a href="#">More information</a></small>
                        </div>
                    </div>
                </div>
            </div> <!-- /cart -->


          </div>
        </div>
      </div>
    </div> <!-- /main menu -->


